<h1>Welcome to Our Site</h1>

<p>
  Hey <%= @user.email %> thank you for being an active member on our site. 
  
</p>

<p>
  <strong> first name: </strong>  <%= @user.first_name %> 
  
</p>

<p>
  <strong> last name: </strong> <%= @user.last_name %> 
  
</p>

<p>
  <strong style="color:red;font-family: Helvetica;"> Contact number: </strong> <%= @user.contact_number %>  

  
</p>


