<div class="container p-5 my-5 bg-dark text-white">
  <h1 style ="text-align:center;">  welcome home</h1>
  <%if user_signed_in?%>
    <div>
    <input type="submit" name="g" value="details" id="g">
  </div>
    <%else %>
        <p>sign-in to get the user details</p>
  <%end%>
</div>
 
 


 