<div class="container p-5 my-5 bg-dark text-white">
  <h1 style ="text-align:center;">  welcome home</h1>
  <p style ="text-align:center;"><%= link_to 'user', user_details_path, class: "btn btn-primary" %> </p>
</div>